html{
    scroll-behavior: smooth;
}

body{
    background-color: #e8e8e8;
    font-size: 10px;
}

h3{
    color: #5c9490;
}

h5{
    font-size: 16px;
    color: #5c9490;
}

h6{
    margin: 10px 0;
    font-size: 13px;
    color: #5c9490;
}

p{
    font-size: 12px;
    /* line-height: 10px; */
}

a{
    text-decoration: none;
}
.main{
    width: 85% !important;
    padding-top: 20px;
}

/*------------ Left-side --------------*/
.navbar-logo{
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    margin: 1.5rem 0;
}

#navbar{
    font-size: 1rem;
    width: 100%;
    font-weight: 600;
    padding: 1.5rem .5rem;
}

#navbar a{
    margin: .5rem;
    padding: 0 .5rem;
}

@media  screen and (max-width: 770px) {
    #navbar-div{
        align-items: start !important;
    }
}

/* about */

.aboutPost{
    height: 325px;
}

.info{
    width: 90%;
    line-height: 18px;
    font-size: 14px;
}

/*------------ Left-side-end --------------*/
/*------------ right-side --------------*/

/* header */
.bannerText{
    width: 70%;
    font-weight: 600;
    font-size: 16px;
}
.social-icons{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.social-icon{
    margin-left: 1rem;
}

.slider-bg{
    width: 70% !important;
    background-color: rgba(0, 0, 0, 0.5);
}

/*------------ right-side-end --------------*/

/* recent works / projects */


/* card css */
.row-border-class{
    border: 2px solid #6C757D;
    /* border-radius: 8px; */
    background-color: #f9f9f9;
}

/* .col-border-class-left{
    border-left: 3px solid #6C757D;
} */

/* .col-border-class-right{
    border-right: 3px solid #6C757D;
} */

/* küçük ekrandaki solda gözükecek olan borderı yok etmek için media query */

@media screen and (max-width: 768px) {
    .col-border-class-left, .col-border-class-right{
        border: none;
    }

    /* bu class'a sahip cardlar diğer cardların zıttı yapıda olduğu için küçük ekranda anormal durmamaları adına column-reverse yapıldı. */
    .right-content-side{
        flex-direction: column-reverse !important;
    }
}

.project-img img{
    border-radius: 8px !important;
}

.content-text{
    line-height: 18px;
    font-size: 14px;
}

.used-tech{
    font-size: larger;
}

.a-btn{
    margin: 0 auto;
    border-color: #5c9490 !important;
    color: #5c9490 !important;
}

.a-btn:hover{
    background-color: #5c9490 !important;
    color: #fff !important;
}

/* recent works / projects end */

/* footer */

#scroll-up-arrow{
    font-size: 1.2rem;
    color: #5c9490;
    border: 1px solid #5c9490;
}

#scroll-up-arrow:hover{
    background-color: #5c9490;
    color: #fff;
}

/* footer end*/
